body{
    background-color: rgba(254, 157, 0, 0.864);
}
h1{
    color: rgb(168, 253, 225);
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    text-shadow: 2px 5px 5px rgba(43, 43, 240, 0.646);
}
.ageIndicator{
    background-color: green;
    color: white;
    font-weight: 600;
}
